/* Write your CSS here */
.contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.box {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #2b2c49, white);
  height: 300px;
  width: 300px;
  color: white;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
